@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

/** {
	outline: solid 1px #000;
}
*/
body {
	/*font:noto-sans-jp-regular*/
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 400;
	font-style: normal;

	background-color: #fff;
}

a {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-decoration: none;
}


a,
a:hover,
a i {
	transition: all .3s;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

li {
	list-style: none;
}


/* フォント
------------------------------------------ */

.noto-sans-jp-regular {
	/*太字になってしまう時などに使う*/
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.noto-sans-jp-medium {
	/*太字になってしまう時などに使う*/
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 500;
	font-style: normal;
}


.noto-sans-jp-semibold {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.noto-sans-jp-bold {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.outfit-regular {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	font-style: normal;
}


/* 使いまわす設定
------------------------------------------ */

/*---button---------------------*/

.button {
	border-radius: 3rem;
}

.button a {
	color: #fff;
	display: flex;
	align-items: center;
}

/*---container,inner------------*/

.container{
	padding:20px;
}

@media(min-width:768px){
	.container--thin{
		width:560px;
		margin:0 auto;
	}

	.container--medium{
		width:700px;
		margin:0 auto;
	}

}

.inner {
	width: 100%;
}

/*PC表示のみ:inner*/
@media(min-width:768px) {
	.inner {
		padding: 25px 65px;

	}
}

/*コンテンツ幅に到達するまでinnerの中身が動かないように設定*/
@media(min-width:1030px) {
	.inner {
		width: 1030px;
		padding: 25px 65px;
		margin: 0 auto;
	}
}

/*---section-title--------------*/

.section-title{
	padding-top:30px;
	padding-bottom:25px;
}

@media(min-width:768px){
	.section-title{
		padding-top:20px;
		padding-bottom:40px;
	}
}

.section-title >span{
	display: flex;
	align-items:center;
	justify-content: center;
}

.section-title__subtext{
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom:5px;
}

@media(min-width:768px){
	.section-title__subtext{
		font-size: 20px;
		letter-spacing: 0;
	}
}


.section-title__heading{
	color: #fa7da3;
	font-size: 30px;
	letter-spacing: 2px;
}

.section-title__frame{
	width:36px;
}

.section-title__heading >span{
	margin-left:3px;
}

@media(min-width:768px){
	.section-title__heading{
		font-size: 38px;
	}

	.section-title__frame{
		width:50px;
	}
}

/*---box-------------------*/

.box{
	border:solid 1px #fa7da3;
	border-radius: 0.75rem;
	overflow: hidden;

}

.box__heading{
	background-color: #fa7da3;
	vertical-align: middle;
	padding:10px 0;
	text-align: center;
}

.box__heading-text{
	color:#fff;
}


@media(min-width:768px){
	.box__heading{
		padding:15px;
	}

	.box__heading-text{
		font-size:24px;
	}
}

.box__content{
	background-color: #fff;
	padding:10px 14px 15px;
}

.box__content-text{
	font-size:14px;
}

@media(min-width:768px){
	.box__content{
		padding:20px 30px 30px;
	}

	.box__content-text{
		font-size:18px;
	}
}

.box__content-example{
	margin-top:10px;
}

/* 一部を使いまわす部分
	：free-trialエリア
------------------------------------------ */
.free-trial,
.free-trial__reserve{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.free-trial .container{
	padding-top:20px;
	padding-bottom:35px;
}

/*ボタン部分（使いまわす部分）*/
.free-trial__reserve-button-heading{
	color:#fa7da3;
	font-size: 20px;
	letter-spacing: 2px;
}

@media(min-width:768px){
	.free-trial__reserve-button-heading{
		font-size: 30px;
		letter-spacing: 3px;
		}
}

.free-trial__reserve-button{
	margin-top:10px;
	padding:10px 70px;
	border-radius: 10rem;
	background-color: #49c43d;
	position: relative;
}

@media(min-width:768px){
	.free-trial__reserve-button{
		padding: 15px 92px;
	}
}

.free-trial__reserve-button a{
	justify-content: center;

}

.free-trial__reserve-button:hover{
	background-color: #40e02f;
}

.free-trial__reserve-button-text{
	font-size: 20px;
	letter-spacing: 2px;
}

.free-trial__reserve-button-arrow{
	position:absolute;
	right:30px;
	width:12px;
}

@media(min-width:768px){
	.free-trial__reserve-button-text{
		font-size: 31px;
		letter-spacing: 3px;
		line-height: 1.35;
		}

	.free-trial__reserve-button-arrow{
		right: 51px;
		width: 18px;
		}
}

/*無料体験内容（ここから使いまわさない部分）*/

.free-trial__discription{
	margin-top: 30px;
}

@media(min-width:768px){
	.free-trial__discription{
		margin-top:40px;
	}
}

.free-trial__discription-heading{
    display: block;
    color: #50bfff;
    border-top: solid 1px #50bfff;
    border-bottom: solid 1px #50bfff;
	padding: 6px 0 7px;
	font-size: 17px;
    letter-spacing: 2px;
	margin-bottom:10px;
}

@media(min-width:768px){
	.free-trial__discription-heading{
		border-width: 1.5px;
		padding: 9px 0 11px;
		font-size: 26px;
		letter-spacing: 3px;
		margin-bottom: 13px;
	}
}

.free-trial__discription-item{
	text-align: left;
	font-size: 14px;
	line-height: 1.6;
}

.free-trial__discription-item-content--small{
	font-size: 11px;
}

.free-trial__discription-item-content--most-small{
	font-size: 11px;
}

@media(min-width:768px){
	.free-trial__discription-item{
		font-size: 20px;
	}

	.free-trial__discription-item-content--small{
		font-size: 16px;
	}
	.free-trial__discription-item-content--most-small{
		font-size: 15px;
	}
}



/* header
------------------------------------------ */

.header {
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 10px;
}

@media(min-width:768px) {
	.header__container {
		margin: 20px clamp(1.25rem, -34.5rem + 55vw, 15rem);
	}
}

.header__logo img {
	width: 70px;
	display: block;
}

@media(min-width:768px) {
	.header__logo img {
		width: 96px;
	}
}

/*ボタン類*/
.header__buttons-container {
	display: flex;
	column-gap: 10px;
}

.header__button a {
	padding: 8px;
	column-gap: 8px;
}

.header__button-text {
	font-size: 13px;
	white-space: nowrap;
}

.header__button-arrow {
	display: block;
	width: 7px;
}

.header__button-text--small {
	font-size: 10px;
}

.header__button-inquiry {
	background-color: #fa7da3;
}

.header__button-reserve {
	background-color: #49c43d;
}

.header__button-inquiry:hover{
	background-color: #fc4d81;
}

.header__button-reserve:hover{
	background-color: #40e02f;
}


@media(min-width:768px) {
	.header__buttons-container {
		column-gap: 19px;
		flex-wrap: nowrap;
	}

	.header__button a {
		padding: 10px 20px;
		column-gap: 12px;
	}


	.header__button-text {
		font-size: 20px;
	}

	.header__button-text--small {
		font-size: 18px;
	}

	.header__button-arrow {
		width: 10px;
	}

}

/* mv
------------------------------------------ */

.mv{
	background-color: #fa7da3;

}

.mv__container {
	margin-top: 62px;
	background-image: url("/assets/images/mv_sp_02.jpg");
	background-position: 50%;
	background-size: cover;
	white-space: nowrap;
}

@media(min-width:768px) {
	.mv__container {
		margin-top: 92px;
		background-image: url("/assets/images/mv_pc_03.jpg");
	}
}

.mv .inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 0;
}

/*---mv左側（見出し）---------*/

.mv__left-container .section-title {
	padding: 0;
	margin-top: 12px;
	margin-left: 27px;
	text-align: center;
}

.mv__left-container .section-title span {
	display: block;
	color: #fff;
}

.mv__section-title-main {
	font-size: 40px;
	line-height: 1.25;
	text-shadow:
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3;
}

.mv__section-title-caption {
	font-size: 18px;
}

@media(min-width:768px) {
	.mv__left-container .section-title {
		margin-top: 12px;
		margin-left: 0;
		text-align: right;
	}

	.mv__section-title-main {
		font-size: 112px;
		margin-right: 20px;
		letter-spacing: 3px;
	}

	.mv__section-title-caption {
		font-size: 34px;
		margin-right: 10px;
	}

}

/*---mv右側-------------------*/
.mv__right-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}

.mv__right-inner {
	margin: 0 27px;
}

@media(min-width:768px) {
	.mv__right-inner {
		margin: 0 54px;
	}
}

/*今だけ初月無料（campaign)-*/
.mv__campaign {
	background: rgba(255, 255, 255, .3);
	width: 100%;

	box-shadow: 5px 4px rgba(0, 0, 0, .07);
}

.mv__campaign .mv__right-inner {
	margin-top: 17px;
	margin-bottom: 17px;
}

.mv__campaign-container {
	height: 65px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	column-gap: 13px;
}

@media(min-width:768px) {
	.mv__campaign .mv__right-inner {
		margin-top: 20px;
		margin-bottom: 28px;
	}

	.mv__campaign-container {
		height: auto;
		column-gap: 26px;
	}
}

.mv__campaign-left span {
	display: block;
}

/*今だけ*/
.mv__campaign-left-text--enclose {
	background-color: #fff;
	color: #fa7da3;
	font-size: 13px;
	text-align: center;
	padding: 2px;
	margin-bottom: 3px;

}

@media(min-width:768px) {
	.mv__campaign-left-text--enclose {
		font-size: 28px;
		padding: 5px 8px;
		margin-bottom: 10px;
	}
}

/*初月*/
.mv__campaign-left-text {
	color: #fff;
	font-size: 23px;
}

@media(min-width:768px) {
	.mv__campaign-left-text {
		font-size: 50px;
		margin-bottom: 7px;
	}
}

/*0円*/
.mv__campaign-right-text {
	color: #fffd7a;
	font-size: 33px;
}

.mv__campaign-right-text--large {
	font-size: 65px;
	line-height: 1;
	padding-right: 3px;
}

@media(min-width:768px) {
	.mv__campaign-right-text {
		font-size: 70px;
	}

	.mv__campaign-right-text--large {
		font-size: 150px;
	}

}

/*price*/
.mv__price .mv__right-inner {
	margin-top: 2px;
}

.mv__price-text {
	color: #fff;
	font-size: 9px;
}

.mv__price-text--large {
	font-size: 14px;
}

@media(min-width:768px) {
	.mv__price .mv__right-inner {
		margin-top: 9px;
	}

	.mv__price-text {
		font-size: 16px;
	}

	.mv__price-text--large {
		font-size: 26px;
	}
}

/*feature*/

.mv__feature {
	color: #fff;
}

.mv__feature .mv__right-inner {
	margin-top: 17px;
	margin-bottom: 30px;
}

@media(min-width:768px) {
	.mv__feature .mv__right-inner {
		margin: 50px 0 20px;
	}
}

.mv__feature ul {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.mv__feature-list {
	border: solid 1px #fff;
	padding: 4px 14px;
	text-align: center;
	font-size: 17px;
}

@media(min-width:768px) {
	.mv__feature {
		width: 100%;
	}

	.mv__feature ul {
		row-gap: 18px;
	}

	.mv__feature-list {
		padding: 15px 10px;
		font-size: 27px;
	}

}


/* special-favor
------------------------------------------ */

.special-favor{
	background-color: #fffedd;
	text-align: center;
}

.special-favor .container{
	padding-bottom: 12px;
}

@media(min-width:768px){
	.special-favor .container{
		padding: 0;
	}

	.special-favor .container--thin{
		width:500px;
	}
}

/*上部テキスト（「今だけ！」）*/
.special-favor__limited{
	display:flex;
	align-items: center;
	justify-content: center;
	column-gap:6px;
	margin-bottom:12px;
	color:#fa7da3;
}

.special-favor__limited-text{
	font-size: 21px;
}

.special-favor__frame{
	font-size:24px;
}

@media(min-width:768px){
	.special-favor__limited-text{
		font-size: 30px;
	}

	.special-favor__frame{
		font-size:36px;
	}
}

/*メインの部分（box)*/
@media(min-width:768px){
	.special-favor .box{
		margin-bottom:10px;
	}
}

.special-favor .box__heading{
	padding: 0;
}

.special-favor .box__heading-text{
	font-size: 21px;
}

@media(min-width:768px){
	.special-favor .box__heading-text{
		font-size: 28px;
	}
}


.special-favor .box__content{
	padding:6px;

}

.special-favor .box__content-text{
	color: #fa7da3;
	font-size:26px;
}

.special-favor .box__content-text--large{
	font-size:40px;
	line-height: 1;
}

@media(min-width:768px){
	.special-favor .box__content{
		padding:10px;
	}

	.special-favor .box__content-text{
		font-size:38px;
	}

	.special-favor .box__content-text--large{
		font-size:60px;
	}
}


/*caption*/
.special-favor__caption{
	font-size:10px;
}


@media(min-width:768px){
	.special-favor__caption{
		font-size:14px;
	}

}

/* points
------------------------------------------ */
.points{
	background-color: #fdf0f5;
}

.points .container{
	padding-top:0;
}


/*セクションタイトルの変更点*/
.points .section-title__subtext{
	align-items: baseline;
	color: #4d2b1b;
}

.section-title__subtext img{
	width:196px;
	margin:0 4px -2px;
}

@media(min-width:768px){
	.points .section-title__subtext{
		font-size:17px;
	}

	.points .section-title__subtext img{
		width:245px;
	}
}

/*---使いまわし部分---------------*/

.points .box{
	margin-bottom:30px;
}

/* ---point-Unlimited-visits--*/
/* ---point-plans-------------*/
/* ---point-support-----------*/
.points__support .box{
	margin-bottom: 10px;
}

/* course
------------------------------------------ */

/* voices
------------------------------------------ */

/* footer
------------------------------------------ */