@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

/** {
	outline: solid 1px #000;
}
*/
body {
	/*font:noto-sans-jp-regular*/
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 400;
	font-style: normal;

	background-color: #000;
}

a {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-decoration: none;
}


a,
a:hover,
a i {
	transition: all .3s;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

li {
	list-style: none;
}


/* フォント
------------------------------------------ */

.noto-sans-jp-regular {
	/*太字になってしまう時などに使う*/
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.noto-sans-jp-semibold {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.noto-sans-jp-bold {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.outfit-regular {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	font-style: normal;
}


/* 使いまわす設定
------------------------------------------ */
.button {
	border-radius: 3rem;
}

.button a {
	color: #fff;
	display: flex;
	align-items: center;
}

.inner {
	width: 100%;
}

/*PC表示のみ:inner*/
@media(min-width:768px) {
	.inner {
		padding: 25px 65px;

	}
}

/*コンテンツ幅に到達するまでinnerの中身が動かないように設定*/
@media(min-width:1030px) {
	.inner {
		width: 1030px;
		padding: 25px 65px;
		margin: 0 auto;
	}
}

/* 一部を使いまわす部分
	：free-trialエリア
------------------------------------------ */


/* header
------------------------------------------ */

.header {
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 10px;
}

@media(min-width:768px) {
	.header__container {
		margin: 20px clamp(1.25rem, -34.5rem + 55vw, 15rem);
	}
}

.header__logo img {
	width: 70px;
	display: block;
}

@media(min-width:768px) {
	.header__logo img {
		width: 96px;
	}
}

/*ボタン類*/
.header__buttons-container {
	display: flex;
	column-gap: 10px;
}

.header__button a {
	padding: 8px;
	column-gap: 8px;
}

.header__button-text {
	font-size: 13px;
	white-space: nowrap;
}

.header__button-arrow {
	display: block;
	width: 7px;
}

.header__button-text--small {
	font-size: 10px;
}

.header__button-inquiry {
	background-color: #fa7da3;
}

.header__button-reserve {
	background-color: #49c43d;
}


@media(min-width:768px) {
	.header__buttons-container {
		column-gap: 19px;
		flex-wrap: nowrap;
	}

	.header__button a {
		padding: 10px 20px;
		column-gap: 12px;
	}


	.header__button-text {
		font-size: 20px;
	}

	.header__button-text--small {
		font-size: 18px;
	}

	.header__button-arrow {
		width: 10px;
	}

}

/* mv
------------------------------------------ */
.mv__container {
	margin-top: 62px;
	background-color: #fa7da3;
	background-image: url("/assets/images/mv_sp_02.jpg");
	background-position: 50%;
	background-size: cover;
	white-space: nowrap;
}

@media(min-width:768px) {
	.mv__container {
		margin-top: 92px;
		background-image: url("/assets/images/mv_pc_03.jpg");
	}
}

.mv .inner {
	display: flex;
	justify-content: space-between;
	padding-top: 0;
}

/*---mv左側（見出し）---------*/

.mv__left-container .section-title {
	margin-top: 12px;
	margin-left: 27px;
	text-align: center;
}

.mv__left-container .section-title span {
	display: block;
	color: #fff;
}

.mv__section-title-main {
	font-size: 40px;
	line-height: 1.25;
	text-shadow:
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3,
		6px 0 40px #fa7da3;
}

.mv__section-title-caption {
	font-size: 18px;
}

@media(min-width:768px) {
	.mv__left-container .section-title {
		margin-top: 12px;
		margin-left: 0;
		text-align: right;
	}

	.mv__section-title-main {
		font-size: 112px;
		margin-right: 20px;
		letter-spacing: 3px;
	}

	.mv__section-title-caption {
		font-size: 34px;
		margin-right: 10px;
	}

}

/*---mv右側-------------------*/
.mv__right-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}

.mv__right-inner {
	margin: 0 27px;
}

@media(min-width:768px) {
	.mv__right-inner {
		margin: 0 54px;
	}
}

/*今だけ初月無料（campaign)-*/
.mv__campaign {
	background: rgba(255, 255, 255, .3);
	width: 100%;

	box-shadow: 5px 4px rgba(0, 0, 0, .07);
}

.mv__campaign .mv__right-inner {
	margin-top: 17px;
	margin-bottom: 17px;
}

.mv__campaign-container {
	height: 65px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	column-gap: 13px;
}

@media(min-width:768px) {
	.mv__campaign .mv__right-inner {
		margin-top: 20px;
		margin-bottom: 28px;
	}

	.mv__campaign-container {
		height: auto;
		column-gap: 26px;
	}
}

.mv__campaign-left span {
	display: block;
}

/*今だけ*/
.mv__campaign-left-text--enclose {
	background-color: #fff;
	color: #fa7da3;
	font-size: 13px;
	text-align: center;
	padding: 2px;
	margin-bottom: 3px;

}

@media(min-width:768px) {
	.mv__campaign-left-text--enclose {
		font-size: 28px;
		padding: 5px 8px;
		margin-bottom: 10px;
	}
}

/*初月*/
.mv__campaign-left-text {
	color: #fff;
	font-size: 23px;
}

@media(min-width:768px) {
	.mv__campaign-left-text {
		font-size: 50px;
		margin-bottom: 7px;
	}
}

/*0円*/
.mv__campaign-right-text {
	color: #fffd7a;
	font-size: 33px;
}

.mv__campaign-right-text--large {
	font-size: 65px;
	line-height: 1;
	padding-right: 3px;
}

@media(min-width:768px) {
	.mv__campaign-right-text {
		font-size: 70px;
	}

	.mv__campaign-right-text--large {
		font-size: 150px;
	}

}

/*price*/
.mv__price .mv__right-inner {
	margin-top: 2px;
}

.mv__price-text {
	color: #fff;
	font-size: 9px;
}

.mv__price-text--large {
	font-size: 14px;
}

@media(min-width:768px) {
	.mv__price .mv__right-inner {
		margin-top: 9px;
	}

	.mv__price-text {
		font-size: 16px;
	}

	.mv__price-text--large {
		font-size: 26px;
	}
}

/*feature*/

.mv__feature {
	color: #fff;
}

.mv__feature .mv__right-inner {
	margin-top: 17px;
	margin-bottom: 30px;
}

@media(min-width:768px) {
	.mv__feature .mv__right-inner {
		margin: 50px 0 20px;
	}
}

.mv__feature ul {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.mv__feature-list {
	border: solid 1px #fff;
	padding: 4px 14px;
	text-align: center;
	font-size: 17px;
}

@media(min-width:768px) {
	.mv__feature {
		width: 100%;
	}

	.mv__feature ul {
		row-gap: 18px;
	}

	.mv__feature-list {
		padding: 15px 10px;
		font-size: 27px;
	}

}


/* special-favor
------------------------------------------ */


/* points
------------------------------------------ */
/*---points全体---------------*/

/* ---point-Unlimited-visits--*/
/* ---point-plans-------------*/
/* ---point-support-----------*/

/* course
------------------------------------------ */

/* voices
------------------------------------------ */

/* footer
------------------------------------------ */